{% extends "base_quiz.html" %}


{% block title %}{% block Title2 %}Agregar Clientes{% endblock %}{% endblock %}

{% block active2 %}active{% endblock %}
{% block content %}


<form action="." method="post">{% csrf_token %}
		
<table style="font-family:'Droid Sans', sans-serif;font-size:11px;text-align:center;margin-left:auto;margin-right:auto;">

<tr><td>
        <label for="id_cliente">Cliente:</label>   </td><td>
		
		<SELECT NAME="idcli" id="id_idcli"> 
   <OPTION VALUE="">---------------</OPTION> 
   {% for c in clientes %}
   
   <OPTION VALUE="{{c.idcli}}">{{c}}</OPTION> 
   {% endfor %} 
</SELECT>  


 
</td></tr>
<tr><td>
        <label for="id_cliente">Tipo de Ataque:</label>   </td><td>
		

	<input id="id_tipo" type="text" name="tipo" />  
</td></tr>

<tr><td>
        <label for="id_cliente">Consecuencia:</label>   </td><td>
		

	<input id="id_consecuencia" type="text" name="consecuencia" />  
</td></tr>
<tr><td>
        <label for="id_cliente">Status:</label>   </td><td>
		
<SELECT NAME="status" id="id_status"> 
   <OPTION VALUE="">---------------</OPTION> 
   {% for s in status %}
   
   <OPTION VALUE="{{s.idsta}}">{{s}}</OPTION> 
   {% endfor %} 
</SELECT>  
	
	
</td></tr>




<tr><td colspan=2>


		<input type="submit" value="Agregar" style="width:120px;height:40px;font-size:15px;font-family: 'Droid Sans', sans-serif;"/>
	</form></td></tr></table>

<table style="width:520px;font-family:'Droid Sans', sans-serif;font-size:16px;text-align:center;margin-left:auto;margin-right:auto;">

<tr style="color:#AB1226">
<th colspan=3 style="background-color:#D0D0D0;font-size:18px"> Clientes </th>
			</tr>
<tr style="background-color:#A0A0A0;">
<th >Clientes</th><th >Tipo</th><th >Consecuencia</th><th >Status</th></tr>
{% for a in attack%}
<tr style="background-color:#F0F0F0;"><td>
{{a.idcli}}</td><td>{{a.tipo}}</td><td>{{a.consecuencia}}</td><td>{{a.idsta}}</td></tr>

{%endfor%}
</table>

<br>{{mensaje}}

{% endblock %}
